body {
    display: flex;
    margin: 0px;
    background-color: #bedc74;
    font-family: Arial, Helvetica, sans-serif;
}

#sidebar {
    display: flex;
    width: 250px;
    padding: 5px;
    align-items: center;
    flex-direction: column;
    background-color: #f6e96e;
    border: #387f39 solid 5px;
}

#cotj {
    font-size: large;
    font-weight: bold;
}

#logo {
    width: 50%;
}

#sidebar > button {
    margin-bottom: 10px;
}

#main-page {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#searchbar-holder {
    background-color: #387f39;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100px;
}

#searchbar {
    background-color: #bedc74;
    border-color: #387f39;
    border-radius: 15px;
    width: 70%;
    height: 40%;
    padding: 5px;
    font-size:medium;
}

#searchbar::placeholder {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

#lots-of-postings {
    display: flex;
    flex-grow: 1;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;
}

.postings:first-child {
    margin-top: 25px;
}

.postings:last-child {
    margin-bottom: 25px;
}

.postings {
    margin-top: 10px;
    display: flex;
    background-color: #f6e96e;
    border: #387f39 solid 5px;
    width: 750px;
    height: 280px;
    border-radius: 30px;
    padding: 10px;
    position: relative;
}

#company-pic {
    height: 40%;
}

#apply {
    width: 150px;
    border: 5px solid #387f39;
    border-radius: 10px;
    background-color: #bedc74;
    margin-bottom: 10px;
    font-size: large;
    font-weight: bold;
    position: absolute;
    right: 45px;
    bottom: 5px;
}

#apply:hover {
    background-color: #387f39;
}

#job-title {
    font-size: large;
    font-weight: bold;
}