#approve {
    width: 175px;
    border: 5px solid #387f39;
    border-radius: 10px;
    background-color: #bedc74;
    margin-bottom: 10px;
    font-size: large;
    font-weight: bold;
    position: absolute;
    right: 45px;
    bottom: 5px;
}

#deny {
    width: 175px;
    border: 5px solid red;
    border-radius: 10px;
    background-color: rgb(253, 113, 88);
    margin-bottom: 10px;
    font-size: large;
    font-weight: bold;
    position: absolute;
    right: 245px;
    bottom: 5px;
}

#deny:hover {
    background-color: red !important;
    transition: background-color 0.2s;
}

