@font-face {
    font-family: "soopafresh";
    src: url(/static/fonts/soopafre.ttf);
}

body {
    display: flex;
    margin: 0px;
    background-color: #b4c273;
    font-family: Arial, Helvetica, sans-serif;
}

button:hover {
    background-color: #4f603a !important;
    transition: background-color 0.2s;
}

#sidebar {
    display: flex;
    width: 200px;
    padding: 5px;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(to bottom, rgb(245, 228, 135), rgba(234, 232, 172, 0.132));
    border: #4f603a solid 2px;
    position: relative;
}

#sidebar>button {
    border-radius: 10px;
    border: #4f603a 3px solid;
    padding: 7px;
    background-color: #b4c273;
    font-weight: bold;
    margin-top: 10px;
    color: #2c3115;
}

#cotj {
    font-size: 25px;
    color: #2c3115;
    font-family: "soopafresh", sans-serif;
}

#logo {
    width: 50%;
}

#sidebar>button {
    margin-top: 10px;
    margin-bottom: 10px;
}

#main-page {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#searchbar-holder {
    background-image: linear-gradient(to right, rgba(26, 71, 15, 0.913), rgba(123, 185, 103, 0.824));
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100px;
    margin-block-end: 0;
}

#searchbar {
    /* Make the actual input invisible except for the letters */
    border: none;
    background-color: transparent;
    outline: none;
    flex-grow: 1;
    font-size: medium;
}

#searchbar::placeholder {
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, 0.566);
}

#searchbar-container {
    display: flex;
    align-items: center;
    background-image: linear-gradient(to right, rgb(245, 228, 135), rgba(164, 206, 113, 0.653));
    border: 3px solid #43621a;
    border-radius: 15px;
    width: 800px;
    height: 40%;
}

#searchbar-container i {
    margin-left: 6px;
}

#lots-of-postings {
    display: flex;
    flex-grow: 1;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;
}

.postings:first-child {
    margin-top: 25px;
}

.postings:last-child {
    margin-bottom: 25px;
}

.postings {
    margin-top: 10px;
    display: flex;
    background-image: linear-gradient(to right, rgb(245, 228, 135), rgba(234, 232, 172, 0.132));
    border: #70821f solid 3px;
    width: 750px;
    height: 280px;
    border-radius: 15px;
    padding: 10px;
    position: relative;
}

#company-info {
    max-width: 100px;
    margin-right: 10px;
    color: #2c3115;
}

#company-pic {
    width: 100px;
    height: 100px;
}

#apply {
    width: 150px;
    height: 38px;
    border: 3px solid #70821fc2;
    border-radius: 10px;
    background-color: #a3b165;
    margin-bottom: 10px;
    font-size: large;
    font-weight: bold;
    position: absolute;
    right: 45px;
    bottom: 5px;
    color: #2c3115;
}

#apply:hover {
    background-color: #394e22;
}

#job-desc {
    overflow-y: auto;
    color: #2c3115;
}

#job-desc {
    overflow-y: auto;
}

#job-title {
    font-size: large;
    font-weight: bold;
    color: #2c3115;
}

#company-name {
    font-size: large;
    font-weight: bold;
    color: #2c3115;
}