<html>

<head>
    <title>Corn on the Job</title>

    <link href="/static/student/studenthome.css" rel="stylesheet">
    <link href="/static/admin/adminapprove.css" rel="stylesheet">
    <link rel="icon" href="/static/images/corn.png">
</head>

<body>

    <div id="sidebar">
        <p id="cotj">Corn on the Job</p>

        <img src="/static/images/corn.png" id="logo">

        <button id="home">Home</button>
        <button id="review">Review pending job listings</button>
        <button id="admin-logout">Log out of admin account</button>

    </div>

    <div id="main-page">

        <form id="searchbar-holder">
            <input id="searchbar" placeholder="Type to begin search..." name="query" autocomplete="off"></input>
        </form>

        <div id="lots-of-postings">
            {% for list in data %}
            <div class="postings">
                <div id="company-info">
                    <img src="/static/images/{{list[4]}}" id="company-pic">
                    <p id="company-name">{{list[3]}}</p>
                </div>

                <div id="job-info">
                    <p id="job-title">{{list[1]}}</p>
                    <p id="job-desc">{{list[2]}}</p>

                    <form id="deny-post" action="/admin/deny" method="POST" onsubmit="return confirmDeletion()">
                        <button id="deny">Deny posting</button>
                        <input type="hidden" name="deny-id" value="{{list[0]}}">
                    </form>
                    
                    <form id="approve-post" action="/admin/approve" method="POST" onsubmit="return jobApproved()">
                        <button id="approve">Approve posting</button>
                        <input type="hidden" name="approve-id" value="{{list[0]}}">
                    </form>

                </div>
            </div>
            {% endfor %}

            {% if not data %}
            <p id="none-text">No jobs to review!</p>
            {% endif %}
        </div>

    </div>


</body>
<script src="/static/admin/adminhome.js"></script>
<script src="/static/admin/adminapprove.js"></script>

</html>