<!DOCTYPE html>
<html>

<head>
    <title>Corn on the Job</title>
    {% include "common_head.html" %}

    <link href="/static/student/studenthome.css" rel="stylesheet">
    <link href="/static/employer/employermypostings.css" rel="stylesheet">
</head>

<body>

    <div id="sidebar">
        <p id="cotj">Corn on the Job</p>

        <img src="/static/images/corn.png" id="logo">

        <button id="home">
            <i class="fa-solid fa-house"></i>
            <span>Home</span>
        </button>
        <button id="post">
            <i class="fa-solid fa-pen-to-square"></i>
            Create a job listing
        </button>
        <button id="logout"><i class="fa-solid fa-arrow-left"></i>
            Log out
        </button>
        <div id="user-info">
            <i class="fa-solid fa-user-tie"></i>
            <span>Employer</span>
        </div>

    </div>

    <div id="main-page">

        <form id="searchbar-holder" autocomplete="off" method="GET">
            <div class="search-input-container">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input id="searchbar" name="query" placeholder="Type to begin search..." value="{{ query or '' }}">
            </div>

            <div class="filter-container">
                <select name="filter" id="filter-select">
                    <option value="all" {% if filter=='all' %}selected{% endif %}>Show All</option>
                    <option value="approved" {% if filter=='approved' %}selected{% endif %}>Show Approved</option>
                    <option value="pending" {% if filter=='pending' %}selected{% endif %}>Show Pending</option>
                </select>
            </div>

            <button type="submit" id="search-button">Search</button>
        </form>

        <div id="lots-of-postings">
            {% for list in data %}
            <div class="postings">
                <div id="company-info">
                    <img src="/static/images/{{list[4]}}" id="company-pic">
                    <p id="company-name">{{list[3]}}</p>
                </div>

                <div id="job-info">
                    <p id="job-title">{{list[1]}}</p>
                    <p id="job-desc">{{list[2]}}</p>

                    {% if list[5] == 1 %}
                    <p class="approved">Approved</p>
                    {% else %}
                    <p class="pending">Pending Review</p>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>

    </div>


</body>
<script src="/static/employer/employermypostings.js"></script>

</html>