<html>

<head>
    <title>Corn on the Job</title>

    <link href="/static/employer/employerpost.css" rel="stylesheet">
    <link href="/static/icons.css" rel="stylesheet">
    <link rel="icon" href="/static/images/corn.png">
    <script src="https://kit.fontawesome.com/ccd8cc66d9.js" crossorigin="anonymous"></script>
</head>

<body>
    <div id="sidebar">
        <p id="cotj">Corn on the Job</p>

        <img src="/static/images/corn.png" id="logo">

        <button id="home">
            <i class="fa-solid fa-house"></i>
            <span>Home</span>
        </button>
        <button id="logout"><i class="fa-solid fa-arrow-left"></i>
            Log out
        </button>
        <div id="user-info">
            <i class="fa-solid fa-user-tie"></i>
            <span>Employer</span>
        </div>

    </div>

    <form id="main-page" method="post" enctype="multipart/form-data" onsubmit="return submitPost()" autocomplete="off">
        <div id="post">
            <input id="job-title" placeholder="Enter your job/position's title" name="job-title" autocomplete="off">
            <textarea id="job-desc" placeholder="Enter a brief description of the position you are hiring for"
                name="job-description"></textarea>
            <div id="job-info">
                <div id="logo-upload">
                    <p id="instructions">Upload a logo of your company here. Will be displayed as a 100x100 image.</p>
                    <img id="preview-img" style="display:none" src="/static/images/placeholder.webp">
                    <input type="file" id="logo-file" name="logo" accept="image/*">
                </div>
                <div id="contact-info">
                    <input id="company-name" placeholder="Enter company name" name="company" autocomplete="off">
                    <input type="email" id="email" placeholder="Enter email to receive applications" autocomplete="off">
                </div>
            </div>

            <input id="submit" value="Submit post for review" type="submit">

        </div>
    </form>

</body>
<script src="/static/employer/employerpost.js"></script>

</html>