<html>

<head>
    <title>Corn on the Job</title>

    <link href="/static/student/studenthome.css" rel="stylesheet">
    <link href="/static/icons.css" rel="stylesheet">
    <link rel="icon" href="/static/images/corn.png">
    <script src="https://kit.fontawesome.com/ccd8cc66d9.js" crossorigin="anonymous"></script>
</head>

<body>

    <div id="sidebar">
        <p id="cotj">Corn on the Job</p>

        <img src="/static/images/corn.png" id="logo">

        <button id="home">
            <i class="fa-solid fa-house"></i>
            <span>Home</span>
        </button>
        <button id="post">
            <i class="fa-solid fa-pen-to-square"></i>
            Create a job listing
        </button>
        <button id="logout"><i class="fa-solid fa-arrow-left"></i>
            Log out
        </button>
        <div id="user-info">
            <i class="fa-solid fa-user-tie"></i>
            <span>Employer</span>
        </div>

    </div>

    <div id="main-page">

        <form id="searchbar-holder" autocomplete="off">
            <div id="searchbar-container">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input id="searchbar" placeholder="Type to begin search..." name="query"></input>
            </div>
        </form>

        <div id="lots-of-postings">
            {% for list in data %}
            <div class="postings">
                <div id="company-info">
                    <img src="/static/images/{{list[4]}}" id="company-pic">
                    <p id="company-name">{{list[3]}}</p>
                </div>

                <div id="job-info">
                    <p id="job-title">{{list[1]}}</p>
                    <p id="job-desc">{{list[2]}}</p>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>


</body>
<script src="/static/employer/employerhome.js"></script>

</html>