<html>

<head>
    <title>Corn on the Job</title>

    <link href="/static/sign in/signin.css" rel="stylesheet">
    <link rel="icon" href="/static/images/corn.png">
</head>

<body>
    <form id="sign-in" method="post">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="flashes">
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
        <p id="text">Log into Corn on the Job</p>
        <input id="username" placeholder="Username" name="username" autocomplete="off">
        <input type="password" id="password" placeholder="Password" name="password" autocomplete="off">
        <input type="submit" id="log-in" value="Log in">
        <p>Don't have an account? <a href="/signup">Sign up</a></p>
    </form>

</body>

</html>